header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Main Content */
main {
    padding: 20px;
    background: #fff;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}

footer p {
    margin: 0;
}